body{
	background-color: black;

}
li{
	color: yellow;
}
p{
	text-align: justify;
	letter-spacing: 1px;
	color: yellow;

}



h1{
	color:yellow;
}

h2{
	color:yellow;
}

h3{
	color:yellow;
}

h4{
	color:yellow;
}

h5{
	color:yellow;
}

h6{
	color:yellow;
}

#menu ul{
	margin: 0;
	background-color: #e62e00;
	list-style: none;
}

#menu ul li{
	display: inline; /*Determina que a exibição será em ma única linha*/
}

#menu ul a{
	padding: 2px 10px; /*impõe a distancia entre o conteúdo*/
	display: inline-block; /*Coloca o bloco em uma única linha*/
	color: yellow;
	text-decoration: none;

}
#menu ul li a:hover{ /*Ao passar o mouse o elemento mostra o efeito deseja de formação*/
	color: #004400;
}